AI News Summariser.json
{
  "name": "AI News Summariser",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -800,
        -176
      ],
      "id": "066c4619-06bd-4bf4-855d-63e0bc1278d0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": " http://aibusiness.com/rss.xml  ",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -576,
        -272
      ],
      "id": "5d15b56c-e501-4bf2-9a2e-9d560dd860d8",
      "name": "AI NEWS READ"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -128,
        -176
      ],
      "id": "b857c98d-c7bf-4987-9772-bbd5526b02cd",
      "name": "Data Aggregator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an AI news summarizer assistant. Analyze the news articles and create an email summary.  For each article: Create a headline in ALL CAPS Write a 2-3 sentence summary Include the article link  Format as: Subject: Today's AI News  Hi there,  Here's your AI news summary:  HEADLINE IN CAPS Summary of what happened and why it matters... Read more: [link]  Best regards, AI News Bot"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        96,
        -176
      ],
      "id": "8e35ed12-5c1e-435a-bd7d-b113a89ad21e",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        176,
        48
      ],
      "id": "fd6c9e92-07af-45ae-b16f-c7568aa0cbf6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "kGvP9QRuWZR9D0Pq",
          "name": "Google Gemini(PaLM) Api account 8164"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "priyanshukumarthakur7488@gmail.com",
        "subject": "Breaking Ai NEWS",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        448,
        -176
      ],
      "id": "1b3e85b0-9ee0-446b-8983-3b3d373139b8",
      "name": "Send a message",
      "webhookId": "4b449c66-f5fe-41eb-a31c-06f784ec02b4",
      "credentials": {
        "gmailOAuth2": {
          "id": "rzLEvZcIql8I2PJJ",
          "name": "Gmail account 2255"
        }
      }
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/category/artificial-intelligence/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -576,
        -80
      ],
      "id": "4d049e54-655f-44a3-8fd9-134b92e866be",
      "name": "TECH NEWS"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -352,
        -176
      ],
      "id": "f08bd897-63bf-4dc6-bc8c-dcd9854d38bf",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "TECH NEWS",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI NEWS READ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI NEWS READ": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Aggregator": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TECH NEWS": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Data Aggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f1e69ffc-20eb-4484-9d53-f644aa98429b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "969257b09ad2942bbaff2e2288304f4969030574d109cdeca05bf11f630884df"
  },
  "id": "I0OYVXLncWjkRjLc",
  "tags": []
}